<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="xatu.school">
    <!--v1.0正式版-->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- 统计分析 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 自动更新 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".activity.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/xatuapp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.BaseActivity" />
        <activity android:name=".activity.CourseGradesActivity" />
        <activity android:name=".activity.AboutActivity" />
        <activity android:name=".activity.SingleCourseActivity" />

        <service android:name=".activity.SchoolLoginService" />

        <activity android:name=".activity.SettingAction" />
        <activity
            android:name=".activity.EvaluateActivity"
            android:theme="@style/MyDialogOfEvaluate" />

        <!-- umeng APPKEY -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="566e4d87e0f55aef8600274c" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="baidu" />

        <!-- 自动更新 -->
        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" />
        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>
